{% extends 'hqpayments/admin/manage_sms_rates.html' %}
{% load hq_shared_tags %}
{% load hq_bootstrap_tags %}


{% block breadcrumbs %}
    <li class="active">
        <div><a href="{% url payments_mach_backend %}">Manage MACH Rates</a></div>
    </li>
{% endblock %}

{% block main_column %}

<div class="row-fluid" style="margin: 1em;">
    <div class="span7">
        <a href="#addRateModal" class="btn btn-success" data-toggle="modal"><i class="icon icon-white icon-plus"></i> Add Rate</a>
        <a href="#bulkUploadRateModal" class="btn" data-toggle="modal">Upload Rates in Bulk</a>
    </div>
    <div class="span5">
        <span class="alert alert-info">Default MACH Base rate is: &euro;{{ base_rate }}. Currency is <strong>EUR</strong>.</span>
    </div>
</div>
<table class="table table-striped datatable">
    <thead>
        <tr>
            <th>Country Code</th>
            <th>ISO</th>
            <th>Country</th>
            <th>MCC</th>
            <th>MNC</th>
            <th>Network</th>
            <th>Base Fee</th>
            <th>Surcharge</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for rate in rates %}
            {{ rate.as_tr|safe }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block modals %} {{ block.super }}
    <div class="modal hide fade" id="bulkUploadRateModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Upload MACH Rates in Bulk</h3>
        </div>
        <form id="bulk-rates-form" class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                <fieldset>
                    <legend>Upload rates in bulk</legend>
                    <ol style="padding-top:1em;">
                        <li>Download the <a href="{% static 'hqpayments/files/mach-rate-example.xlsx' %}" class="btn">example file</a></li>
                        <li>Add the appropriate rows.</li>
                        <li>Upload the file below.</li>
                    </ol>
                    {% bootstrap_fieldset mach_upload_form %}
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Upload Bulk Rates</button>
                <button id="bug-report-cancel" class="btn" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
{% endblock %}

