{% extends "hqwebapp/two_column.html" %}
{% load hq_shared_tags %}

{% block js %} {{ block.super }}
{% endblock %}

{% block js-inline %} {{ block.super }}
{% endblock %}

{% block title %} - Payments{% endblock %}

{% block page-title %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url payments_default %}"><strong>Payments</strong></a> <span class="divider">&gt;</span>
        </li>
    </ul>
{% endblock %}

{% block sidebar %}
    Woot, payments!
{% endblock %}

{% block main_column %}
    PAAAYYYYMENTS
{% endblock %}