{% extends 'hqpayments/admin_payments_base.html' %}
{% load hq_shared_tags %}
{% load hq_bootstrap_tags %}

{% block js %}{{ block.super }}
    {% include "imports/datatables.html" %}
    <script type="text/javascript" src="{% static 'reports/javascripts/config.dataTables.bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'hqwebapp/javascripts/jquery-ui-datepicker/jquery-ui-1.8.17.custom.datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'reports/javascripts/datepicker.js' %}"></script>
{% endblock %}

{% block js-inline %} {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var rateTables = new HQReportDataTables({
{#                {% if aoColumns %}aoColumns: {{ aoColumns|JSON }}{% endif %}#}
            });
            rateTables.render();
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#new-rate-item').submit(function () {
                $('#new-rate-item button[type="submit"]').button('loading');
                $(this).ajaxSubmit({
                    dataType: 'json',
                    success: function (data) {
                        $('#new-rate-item button[type="submit"]').button('reset');
                        if (data.success)
                            $('#addRateModal').modal('hide');
                        $('#new-rate-item .modal-body').html(data.form_update);
                    }
                });
                return false;
            })
        });
    </script>
{% endblock %}

{% block main_column %}
    <table class="table table-striped datatable">
        <thead>
        <tr>
            <th>Country Code</th>
            <th>ISO</th>
            <th>Country</th>
            <th>MCC</th>
            <th>MNC</th>
            <th>Network</th>
            <th>Base Fee</th>
            <th>Surcharge</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="9">
                <a href="#addRateModal" class="btn" data-toggle="modal"><i class="icon icon-plus"></i> Add Rate</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block modals %} {{ block.super }}
    <div class="modal hide fade" id="addRateModal">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3>Create New Rate</h3>
        </div>
        <form id="new-rate-item" class="form-horizontal" action="" method="post">
            <div class="modal-body" style="overflow-y: visible; max-height: 500px;">
                {% include rate_partial %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="Submitting...">Create Rate Item</button>
                <button id="bug-report-cancel" class="btn" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
{% endblock %}

