{% extends "domain/admin/info_base.html" %}
{% load hq_shared_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block main_column %}
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend>{% trans 'Edit Billing Information' %}</legend>
            {% crispy billing_info_form %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">
                    {% trans 'Update Billing Info' %}
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}
